
  
  .home .slide-container .slide .content {
    animation: slideContent 0.3s linear 0.5s backwards;
  }
  
  @keyframes slideContent {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  }
  

  
  .home .slide-container .slide .image .shoe {
    width: 100%;
    transform: rotate(-180deg);
    animation: shoe 0.3s linear;
  }
  
  @keyframes shoe {
    0% {
      transform: rotate(0deg) scale(0.5);
    }
  }
  
  .home .slide-container .slide .content span {
    font-size: 2rem;
    color: #ff9f1a;
  }
  
 
  