section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color:var(--black);
  padding:1rem;
  
}

.heading span{
  text-transform: uppercase;
  color:var(--orange);
}
.service .box-container{
    flex-wrap: wrap;
    background:#f9f9f9;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:2rem;
  }
  
  .service .box-container .box{
    text-align: center;

  }
  
  .service .box-container .box i{
    font-size: 2rem;
    color:#ff9f1a;;
  }
  
  .service .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
    padding-top: 1rem;
  }
  
  .service .box-container .box p{
    color:#666;
    padding:1rem 0;
  }